main {
    background-color: #fff;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 1rem 10rem;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 1rem;
    color: midnightblue;
}

h2 {
    color: darkgrey;
    font-weight: lighter;
}

.link-github {
    background: url("https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png") no-repeat;
    background-size: 32px 32px;
    padding-left: 36px;
    line-height: 36px;
    display: block;
}

.link-email {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/1200px-Gmail_icon_%282020%29.svg.png") no-repeat;
    background-size: 32px 24px;
    padding-left: 36px;
    line-height: 36px;
    display: block;
}

.button {
    background-color: midnightblue;
    color: #fff;
    border: 0;
    border-radius: 0.25rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: #000;
    color: #fff8c5;
}

.strike {
    text-decoration: line-through;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
